.card{
    width: 20rem;
    height: 26rem;
    padding: 10px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    background-color: #fff;
    border-radius: 5%;
    box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.486);
}

.imgContainer img{
    width: 10rem;
    height: 8.43rem;
    border-radius: 5%;
    box-shadow: 0 5px 18px 0 rgba(0, 0, 0, 0.486);
    outline: .1px solid rgba(0, 0, 0, 0.096);
}

.bodyCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 18rem;
    height: 60%;
    text-align: center;
    background-color: rgb(238, 238, 238);
    border-radius: 5%;

    overflow:auto;
}

.bodyCard::-webkit-scrollbar{
    width: 7px;
    background-color: rgba(163, 65, 255, 0.452);
    border-radius: 5px;
}
.bodyCard::-webkit-scrollbar-thumb{
    background-color: rgb(163, 65, 255);
    border-radius: 5px;
}

.price{
    font-weight:bolder;
}

p{
    font-size: 1rem;
}