.card{
    width: 18rem;
    height: auto;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    background-color: #fff;
    border-radius: 5%;
    box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.486);
}

.imgContainer img{
    width: 18rem;
    height: 8.43rem;
    border-radius: 5% 5% 0 0;
    outline: .1px solid rgba(0, 0, 0, 0.096);
}

.bodyCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 18rem;
    height: 15rem;
    padding: 0 1rem;
    text-align: center;
    /* background-color: rgb(238, 238, 238); */
    border-radius: 0 0 5% 5%;
}

.category span{
    font-weight: 600;
    font-size: 1rem;
}

.price{
    font-weight:bolder;
}

p{
    font-size: 1rem;
}