.navBar{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    height: 8rem;
}

.logoContainer{
    height: 10rem;
    width: 10rem;
}


.logo{
    height: 6rem;
    width: 6rem;
    border-radius: 100%;
    margin-top: 1.2rem;
    margin-left: 2rem;
}

.navBarMenuContainer{
    width: 30rem;
}
.navBarMenu{
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.inactive{
    text-decoration: none;
    color: #fff;
}

.inactive a:hover{
    color: rgb(146, 22, 146);
}

.active{
    color: rgb(146, 22, 146);
}
