.navBar{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}

.logoContainer, .logo{
    width: 6rem;
    height: 3rem;
}


.navBarMenuContainer{
    width: 30rem;
}
.navBarMenu{
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.cartContainer,
.navBarMenuContainer{
    align-self: flex-end;
}



.inactive{
    text-decoration: none;
    color: #fff;
}

.inactive a:hover{
    color: rgb(146, 22, 146);
}

.active{
    color: rgb(146, 22, 146);
}
